---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% Image "Overview of deployment", "/img/main/bluecloudmachine.transparent.png"%}
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
